body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.search-box {
    margin-bottom: 20px;
}

.search-box input {
    padding: 6px;
    width: 250px;
}

.search-box button {
    padding: 6px 12px;
    cursor: pointer;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card p {
    font-weight: bold;
}




.history-container {
    max-width: 500px;
}

.history-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.history-view {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.history-view:hover {
    background-color: #0056b3;
} 



#clearHistoryBtn {
    margin: 10px 0 20px;
    padding: 8px 14px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#clearHistoryBtn:hover {
    background-color: darkred;
}
